@keyframes grow-right {
    to {
        width: 100%;
    }
}

@font-face
{
    font-family: 'podkova';
    src: url('../fonts/podkova/Podkova-VariableFont_wght.ttf');
}

@font-face
{
    font-family: 'rhodiumLibre';
    src: url('../fonts/RhodiumLibre-Regular.ttf');
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: 'podkova', arial, sans-serif;
}

.page {
    margin-left: 85px;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'rhodiumLibre', arial, sans-serif;
}

.line {
    background-color: black;
    height: 2px;
    width: 0;
    animation: grow-right 1s linear forwards;
}

.title_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0 50px 0;
}

.title_content h1 {
    margin: 0;
}

.navbar {
    background: #181818;
    width: 85px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}

.navbar a, .navbar_top a {
    color: #ece1e1;
}

.navbar_top {
    display: none;
}

#menu_top {
    display: none;
}

.logo {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo a {
    font-size: 1.5em;
    padding: 1px;
    border: 2px solid  #9f52e4;
}

#linkedin_text i {
    color: #0077b5;
    margin: 8px 0 8px 0;
}

.link {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.link a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu a, .link a {
    margin: 20px 0 20px 0;
}

.menu a:hover {
    color:  #9f52e4;
}

#background_text:hover {
    margin-top: 12px;
    margin-bottom: 11px;
}

.cv {
    display: flex;
    justify-content: flex-end;
}

.cv a {
    position: fixed;
    color: #9535ff;
    text-align: center;
    margin-right: 15px;
}

.cv a:hover {
    color: #181818;
}

.cv p {
    margin-bottom: 8px;
    font-weight: bold;
}

@media screen and (max-width: 1000px)
{
    .navbar {
        display: none;
    }

    .navbar_top {
        display: flex;
        background: #181818;
        position: fixed;
        top: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        z-index: 3;
    }

    .logo {
        padding: 15px 0 0 15px;
    }

    #menu_logo {
        color: white;
        padding: 15px 15px 0 0;
    }

    .topbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        width: 100%;
        z-index: 3;
    }

    #menu_top {
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
        width: 100%;
    }

    .menu_top_links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px;
    }

    .menu_top_links a{
        color: white;
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .menu_top_links a:hover {
        color: #9535ff;
    }

    .menu_top_links i {
        margin-left: 8px;
    }

    .menu_top_extern {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px;
        text-align: center;
    }

    .menu_cv{
        margin-top: 20px;
    }

    .menu_cv i {
        color: #9535ff;
        text-align: center;
    }

    .linkedin i {
        color: #0077b5;
        text-align: center;
    }

    .linkedin p, .menu_cv p {
        margin-bottom: 8px;
    }

    .cv {
        display: none;
    }

    .page {
        margin-left: 0;
    }
}