{% extends 'base.html.twig' %}

{% block title %} about me {% endblock %}

{% block body %}
    <div class="title_container">
        <div class="title_content">
            <div class="line"></div>
            <h1>About me</h1>
            <div class="line"></div>
        </div>
    </div>

    <div class="profile">

        <p class="profile_description"> Web Developer is what I am.</p>
        <p>
            I started to learn on my own in 2019 with online courses and quickly decided to apply for the Web Developer Junior path at OpenClassrooms (level 5 qualification). I spent 6 month of studying web development while working as claims handler in an insurance company at the same time.
            In January 2020, I made the choice of only focusing on web development because it is what I wanted to be.
        </p>
        <p class="profile_description">Creating is what I love.</p>
        <p>
            It is a whole process. I like it whether it is creating from scratch or taking part of a project as a team. Building something is what I liked about my previous employment. It is all about finding the best way to answer a need or to solve a problem.
        </p>
        <p class="profile_description">Curiosity is what helps me to improve.</p>
        <p>
            It makes me discover new subjects and increase my knowledge on various fields.
            I started to study web development by curiosity to understand how it works. I really loved it and I decided to carry on. There is always a way to improve your code and your technique. Focusing easily and learning fast help me to adapt easily to a new environment.
        </p>
    </div>

    <div class="about_details">
        <div class="skills">
            <h2> My skills and knowledge</h2>

            <h3>IT</h3>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>JQuery</li>
                <li>MySQL</li>
                <li>PHP 7</li>
                <li>WordPress 5</li>
                <li>Divi (WordPress Page Builder)</li>
                <li>Bootstrap 4</li>
                <li>Symfony 5</li>
                <li>Adobe XD</li>
                <li>SEO</li>
                <li>Git</li>
            </ul>

            <h3>Languages</h3>
            <ul>
                <li>French: native language</li>
                <li>English: fluent - TOEIC : 920 points (April 2019)</li>
                <li>Spanish: spoken regularly</li>
                <li>Japanese: studied since May 2014</li>
            </ul>
        </div>

        <div class="abilities">

            <h2>My abilities</h2>

            <div class="abilities_list">
                <h3>Decision making:</h3>
                <p>18 month as claim handler (GMF) and 2 years as site manager and site assistant manager (Elior)</p>
                <h3>Communication:</h3>
                <p>Face to face, phone and email communication</p>
                <h3>Commercial awareness:</h3>
                <p>2 years as insurance advisor (GMF)</p>
                <h3>Management:</h3>
                <p>3 years as team manager (Elior) and Master in Hospitality Management (Ecole de Savignac)</p>
            </div>

            <a class="black" href="{{ path('app_background') }}">More details </a>

        </div>

    </div>



{% endblock %}