{% extends 'base.html.twig' %}

{% block title %} homepage {% endblock %}

{% block body %}

    <div class="title_container">
        <div class="title_content">
            <div class="line"></div>
            <h1>My background</h1>
            <div class="line"></div>
        </div>
    </div>

    <div class="background_container">
        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>August 2019 - August 2020</h3>
                <span>OpenClassrooms, Web Developer Junior</span>
                <p>
                    Level 5 diploma</br>
                    Several school projects</br>
                    Main languages studied: HTML, CSS, JavaScript and PHP</br>
                    Also studied for assessments: WordPress, JQuery, Bootstrap, Symfony, Adobe XD and MySQL</br>
                    SEO strategy</br>
                    Competences in various technical fields and customer management
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>March 2020</h3>
                <span>FormaDistance, WordPress</span>
                <p>
                    Online formation with a private teacher</br>
                    Divi Page Builder</br>
                    SEO Strategy
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>July 2018 - January 2020</h3>
                <span>GMF, Claim Handler</span>
                <p>
                    Full time job in the insurance industry</br>
                    Manage claims from the record of statements to the payment to settle the claim</br>
                    Gather and process information regarding the underlying policy and coverages</br>
                    Evaluate and analyze the circumstances of the claim</br>
                    Ask for an adjuster's report if needed</br>
                    Telephone based
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>February 2016 - June 2018</h3>
                <span>Téléassurance (GMF), Insurance Advisor</span>
                <p>
                    Full time job in the insurance industry</br>
                    Sell property, car and health insurance to match the needs of clients</br>
                    Provide specialized guidance and insurance advice</br>
                    Telephone based
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>December 2014 - February 2016</h3>
                <span>ELIOR, Site Manager (from 300 to 500 customers per day)</span>
                <p>
                    Full time job in the industrial catering industry</br>
                    Various catering services (buffet meal, cocktail, food delivery...)</br>
                    Satellite sites with food delivery for 100 customers</br>
                    Responsible of daily restaurant management operations</br>
                    Respect of the terms of contract</br>
                    Customer service management</br>
                    Maintaining high productivity and a balanced budget
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>August 2014 - November 2014</h3>
                <span>ELIOR, Assistant Site Manager (800 customers per day)</span>
                <p>
                    Full time job in the industrial catering industry</br>
                    Opening of the town hall's restaurant</br>
                    Implementation of an efficient operational organisation</br>
                    Maintaining a balanced budget
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>August 2013 - February 2014</h3>
                <span>ELIOR, Assistant Head of Sector (Regional Department)</span>
                <p>
                    Work placement in the industrial catering industry</br>
                    Missions: business development, management and operational organisation</br>
                    Plus: 1 month work placement in September 2012 (optional work placement)
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>2009-2014</h3>
                <span>Ecole Internationale Supérieure de Savignac and University of West London</span>
                <p>
                    Master Degree</br>
                    Top up Bachelor (University of West London diploma)</br>
                    Foundation Degree (University of West London diploma)</br>
                    Hospitality Management studies</br>
                    2 years of studies at Stratford Upon Avon College (UK)</br>
                    18 months as F&B attendant employee at QHotel (UK)</br>
                    Student activities: member of the School Catering Committee and "Event Days Organisation"
                </p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>2009</h3>
                <span>French Baccalaureat - Economy</span>
                <p>
                    Speciality mathematics</br>
                    Awarded "Very Good", European Section English
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/background.css') }}">
{% endblock %}