{% extends 'base.html.twig' %}

{% block title %} homepage {% endblock %}

{% block body %}


    <div class="title_container">
        <div class="title_content">
            <div class="line"></div>
            <h1>My background</h1>
            <div class="line"></div>
        </div>
    </div>

    <div class="container">

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>Août 2019 - A ce jour</h3>
                <span>OpenClassrooms, Développeur Web Junior</span>
                <p>Etude de plusieurs langages informatiques</br>Acquisition de compétences techniques et de relation client</br>Prise en compte du référencement et compatibilité avec les différents navigateurs</br>Formation en parallèle d'un travail à temps plein</br>Etudes des langages informatiques depuis janvier 2019</p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>Juillet 2018 - Janvier 2020</h3>
                <span>GMF, Gestionnaire Sinistres</span>
                <p>CDI dans la gestion de sinistres habitation</br>Enregistrement des déclarations pour les domages matériels et corporels</br>Gestion des dossiers clients</br>Gestion des règlements</p>
            </div>
        </div>

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>Février 2016 - Juin 2018</h3>
                <span>Téléassurance (GMF), Conseiller en Assurances</span>
                <p>CDI dans la vente de produits d'assurance</br>Conseiller et commercial en assurances</br>Vente des produits d'assurance IARD et Santé</p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>Décembre 2014 - Février 2016</h3>
                <span>ELIOR, Gérante de Site</span>
                <p>CDI dans le secteur de la restauration collective en entreprise</br>Gérante d'un site de 300 couvert puis évolution vers un site de 500 couverts</br>Site avec nombreuses prestations annexes (buffets, cocktails,...)</br>Mission de changements opérationnels et de gestion financière d'un site</br>Relation client importante</p>
            </div>
        </div>

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>Août 2014 - Novembre 2014</h3>
                <span>ELIOR, Assistante Responsable de Site</span>
                <p>CDI dans le secteur de la restauration collective en entreprise</br>Ouverture du restaurant de la mairie de Bordeaux (800 couverts)</br>Mise en place d'une organisation opérationnelle</br>Mission de maintien d'un budget</p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>Août 2013 - Février 2014</h3>
                <span>ELIOR, Assistante Responsable Secteur</span>
                <p>Stage de fin d'études</br>Secteur de la restauration collective en entreprise</br>Mission de développement, de management et d'organisation opérationnelle</br>Egalement pré-stage non obligatoire de 1 mois en septembre 2012</p>
            </div>
        </div>

        <div class="timeline-block timeline-block-right">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>2009-2014</h3>
                <span>Ecole Internationale Supérieure de Savignac</span>
                <p>Master Degree (BAC+5)</br>Top up Bachelor (BAC+3)</br>Foundation Degree (BAC+2)</br>Formation en Hospitality Management</br>2 années d'université à Birmingham (UK)</br>Travail en parallèle des études dans un restaurant pendant 18 mois</br>Activités et associations: Commission restauration et Organisation des Journées Evènements</p>
            </div>
        </div>

        <div class="timeline-block timeline-block-left">
            <div class="marker"></div>
            <div class="timeline-content">
                <h3>2009</h3>
                <span>Baccalauréat section ES</span>
                <p>Spécialisation mathématiques</br>Très Bien, mention Section Européenne Anglais</br>
                    Cours renforcés d'anglais et option occitan</p>
            </div>
        </div>
    </div>

{% endblock %}