{% extends 'base.html.twig' %}

{% block title %} contact me {% endblock %}

{% block body %}

    <div class="title_container">
        <div class="title_content">
            <div class="line"></div>
            <h1>Contact me</h1>
            <div class="line"></div>
        </div>
    </div>

    <div class="contact_details">
        <div class="email_contact">
            <p> alexandragomez.work@gmail.com</p>
            <i class="fas fa-at fa-2x"></i>
        </div>

        <div class="phone_contact">
            <div>
                <p> Ireland: +353 851 735 369</p>
                <i class="fas fa-phone-alt fa-2x"></i>
            </div>
            <div>
                <p> France: +33 6 02 37 94 75</p>
                <i class="fas fa-phone-alt fa-2x"></i>
            </div>
        </div>

        <div class="linkedin_contact">
            <a href="{{ path('app_homepage') }}">
                <p>LinkedIn</p>
                <i class="fab fa-linkedin fa-2x linkedin_logo"></i>
            </a>
        </div>

    </div>


{% endblock %}