{% extends 'base.html.twig' %}

{% block title %} contact me {% endblock %}

{% block body %}
    <h1 class="title">Contact me</h1>
    <div class="contact_details">
        <div class="email_contact">
            <p> agomez.work@gmail.com</p>
            <i class="fas fa-at fa-2x"></i>
        </div>
        <div class="linkedin_contact">
            <a href="{{ path('app_homepage') }}">
                <p>LinkedIn</p>
                <i class="fab fa-linkedin fa-2x linkedin_logo"></i>
            </a>
        </div>

    </div>


{% endblock %}