{% extends 'base.html.twig' %}

{% block title %} homepage {% endblock %}

{% block body %}

    <h1> Alexandra Gomez </h1>
    <h2> Web Developer</h2>
    <p>
        Status : Active Job Seeker
    </p>
{% endblock %}